@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  border-top: 1px solid $color-gray-border;
  max-width: $layout-post-width;
  padding-top: 20px;
  @include margin-top(1);
  @include margin-bottom(2);

  &__photo {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }

  &__bio {
    margin: 0 auto;
    display: inline;
    &-twitter {
      text-decoration: underline;
    }
  }

  &__dark_mode_toggler {
    float: right;
  }
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }

}