.dark {
    --color-background: #282c35;
    --color-base: #DDD;
    --color-primary: rgb(255, 167, 196);
    --color-secondary: #A26C00;
    --color--language-panel: rgba(115, 124, 153, 0.2);
    --color--language-panel-border: hsla(0, 0%, 100%, 0.2);
}