@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  display: flex;
  align-items: center;
  &__photo {
    margin-bottom: 0;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-clip: padding-box
  }

  &__bio {
    padding-left: 15px;
  }

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 900;
    font-family: $title-font-family;
    @include line-height(1.125);
    @include margin(.5, 0, .5, 0);

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base
      }

    }

  }

  &__subtitle {
    display: none;
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1)
  }

}

@include breakpoint-sm {
  .author {
    display: block;
    &__photo {
      width: 200px;
      height: 200px;
    }
    &__bio {
      padding-left: 0px;
    }
    &__subtitle {
      display: block;
    }
  }
}

@include breakpoint-md {
  .author {
    display: block;
    &__photo {
      width: 200px;
      height: 200px;
    }
    &__bio {
      padding-left: 0px;
    }
    &__subtitle {
      display: block;
    }
  }
}